html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: 'Roboto', sans-serif !important;
  background-color: rgb(121, 212, 156) !important;
  color: black;
  margin: 0;
  padding: 0;
} 

.upper-margin {
  margin-top: 100px;
}

.expand {
  transition: all 0.3s ease-in-out !important;
}

.expand:hover {
  transform: scale(1.10) !important;
  cursor: pointer !important;
}

.width {
  width: 45%;
}

.btn {
  color: white !important;
  margin: 10px 8px;
  background-color: rgb(5, 87, 55) !important;
}